

#blockReassurance{

	.block-text{
		margin-right: $spacer;
		padding: $spacer;
		
		font-size: $font-size-sm;
		border: $border-width $brand-primary solid;
		background-color: $gray-lightest;

		&:nth-child(3){
			margin-right: 0 !important;
		}

		&:hover{
			color: $brand-success;
			box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
		}
	}

	.side-img{
		margin-right: $spacer;
	}
	
}