.breadcrumb{
	margin-top: $spacer;
	padding: $spacer 0 $spacer/2 0;
	list-style: none;
	margin-bottom: $spacer-y;
	border-bottom: $border-width solid $gray-light;

	@include clearfix;

	.breadcrumb-item{
		float: left;

		+ .breadcrumb-item::before{
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			font-size: 24px;
			display: inline-block;
			line-height: 1;
			text-transform: none;
			letter-spacing: normal;
			word-wrap: normal;
			white-space: nowrap;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			-moz-osx-font-smoothing: grayscale;
			font-feature-settings: 'liga';
			content: "keyboard_arrow_right";

			+ .breadcrumb-item:hover::before {
				text-decoration: underline;
			}
			+ .breadcrumb-item:hover::before {
				text-decoration: none;
			}

			&.active {
				color: $breadcrumb-active-color;
			}
		}
	}

}