.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 10px;
  left: 0;
  right : 0;
  height: 80px;
  background: transparent;
}

.fancybox-thumbs > ul > li {
  border-color: transparent;
}

.fancybox-container--thumbs .fancybox-caption-wrap, 
.fancybox-container--thumbs .fancybox-controls, 
.fancybox-container--thumbs .fancybox-slider-wrap {
  right: 0;
  bottom: 25px;
}

@media all and (max-width: 800px) {

	.fancybox-thumbs {
		display: none !important;
	}

	.fancybox-container--thumbs .fancybox-controls,
	.fancybox-container--thumbs .fancybox-slider-wrap,
	.fancybox-container--thumbs .fancybox-caption-wrap {
		bottom: 0;
	}

}