#header {
  .before-nav {
    background-color: $grey-50;
    border-bottom: $border-width/2 $border-style $grey-500;
    z-index: $zindex-fixed;
    position: relative;

    .btn-secondary {
      color: $blue-500;
      background-color: transparent;
      border: 0;
      border-right: $border-width/2 $border-style $grey-500;
      border-left: $border-width/2 $border-style $grey-500;

      &:hover {
        color: $blue-400;
        text-decoration: transparent;
        transition: all $transition-duration ease-in-out;
      }
    }

    .dropdown-menu {
      animation-duration: $animation-duration;
    }
    #dropdownCurrency {
      border-left: 0;
    }
  }

  .dt-btn-dropdown-header {

    &::after {
      display: none;
      content: "";
    }
    
    color: $gray-dark;
    border-radius: 0;
    background-color: transparent;

    &:hover {
      color: $brand-primary;
      background-color: $gray-lightest;
    }
  }

  .dt-navbar {
    background-color: $gray-lightest;
    z-index: $zindex-fixed;
    position: relative;
    
  }

  .dt-toggler-menu {
      color: $gray-lightest;
      background-color: $brand-primary;
      border: 0;
      cursor: pointer;
      @include hover-color($blue-400);
      height: 100%;
  }
}