
#product-page{
	background-color: $gray-lightest;
	padding: $spacer $spacer;
	border: $border-width solid $gray-light;
	margin-bottom: $spacer;

	.product-subtitle{
		border-bottom: $border-width solid $brand-primary;
		margin-bottom: $spacer;

		.product-meta{
			display: inline-block;

			+ .product-meta::before{
				content: "|";
				margin: 0 $spacer;

			}
		}
	}

	.product-cover{
		border: $border-width solid $gray-light;
	}

	.owl-carousel{
		margin-top: $spacer/2;

		.owl-nav{
			font-size: 0;

			.owl-prev{
				position: absolute;
				top: 40px;
				background-color: $brand-primary;
				color: $gray-light;
				left: -10px;
			}

			.owl-next{
				position: absolute;
				top: 40px;
				background-color: $brand-primary;
				color: $gray-light;
				right: -10px;
			}
		}
				
		.item{
			border: $border-width solid $gray-light;
		}
	}

	.product-flags{
		.new{
			@include flag-new;
		}

		.on-sale{
			@include flag-on-sale;
		}

		.online-only {
			@include flag-online-only;
		}
	}

	.regular-price{
		color: $brand-danger;
		text-decoration: line-through;
		font-size: $font-size-lg;
		font-weight: 200;
	}

	.discount-percentage{
		background-color: $brand-info;
		border: $border-width solid $brand-success;
		padding: 0 $spacer/2;
		color: $gray-lighter;
		margin-left: $spacer;
	}

	.price{
		font-size: $font-size-lg*2;
		line-height: 1;
	}

	.input-color{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 35px;
		width: 35px;

		&:checked + span{
			border: $border-width solid $black;
		}
		
	}

	.color{
		font-size: 0;
		overflow: hidden;
		width: 35px;
		height: 35px;
		background-size: contain;
		display: inline-block;
	}

}