
/**

	Estilos para el modulo ps_searchbar

*/

#dt-search-bar{
  
  .dt-form-group{

    input[type="text"]{
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: $gray-dark;
      background-color: $white;
      background-image: none;
      background-clip: padding-box;
      border-top: $border-width solid $blue-500;
      border-left: $border-width solid $blue-500;
      border-bottom: $border-width solid $blue-500;
      border-right: 0;
      transition: border-color $transition-fade, box-shadow $transition-fade;

      &:focus{
        border-color: rgba($brand-primary, 1);
        background-color: $white;
        color: $gray-dark;
      }

      &::placeholder{
        color: rgba($gray, 0.75);
        opacity: 0.75;
        font-family: $font-family-sans-serif;
      }
    }

    button[type="submit"]{
      background-color: $pink-500;
      color: $grey-50;
      border-right: $border-width solid $blue-500;
      border-top: $border-width solid $blue-500;
      border-bottom: $border-width solid $blue-500;
      border-left: 0;
      cursor: pointer;
      display: flex;
      @include hover-color($pink-400);
    }

  }

}