
/**

	Estilos para el modulo ps_shoppingcart

*/

.dt-cart-img{
  width: 75px;
  height: 75px;
}

.dt-price-mini{
  font-size: 0.8rem;
}

.dt-label{
  @extend .dt-blue-text;
  font-weight: $font-weight-bold;
}

.dt-quantity-badge{
  background-color: $brand-primary;
  color: $gray-lightest;
  min-width: 18px;
  padding: 0.3rem;
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: bold;
}

#dropdownShopping > .dropdown-menu {
  animation-duration: 0.5s;
}
