
#carouselHome{
	width: 70%;
	margin-top: 0;

	figure {
		margin: 0;
	}

	.carousel-caption {
		right: 0;
		left: 0;
		bottom: 0;
		padding: $spacer $spacer*4 $spacer*2 $spacer*4;
		width: 100%;
		background-image: linear-gradient(to top, rgba( $gray-dark , 0.6), rgba( $gray, 0.0 ));
	}

	.carousel-indicators{
		bottom: 0;
	}
}

.dt-delay-1{
	animation-delay: 0.5s;
}

.dt-delay-2{
	animation-delay: 1s;
}

.dt-delay-3{
	animation-delay: 1.5s;
}