/**

Utilidades varias

**/
.dt-blue-text{
  color: $brand-primary;
}

.dt-no-wrap{
  white-space: nowrap;
}

.dt-show{
	display: block !important;
}

.dt-upper{
  text-transform: uppercase;
}

.dark-backdrop{
	z-index: $zindex-dropdown-backdrop;
	background-color: $black;
	opacity: $modal-backdrop-opacity;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: fixed;
	display: none;
	animation-duration: 0.5s;
}

.dt-navtitle{
	font-size: 1rem;
}

.dt-height-max{
	height: 100%;
	max-height: 100%;
}

.dt-width-max{
	width: 100%;
}

.dt-sm{
	font-size: 0.5rem !important;
	font-weight: 400 !important;
}

button, input, optgroup, select, textarea{
	font-family: $font-family-sans-serif;
}

.page-wrapper{
	margin-top: 92px;
}

.divide-right{
	border-right: 2px solid $grey-100;
}

.divide-bottom{
	border-bottom: $border-width solid $grey-100;
}

//MDI Snippets for Bootstrap

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.section-title{
    line-height: $line-height-lg;
    border-bottom: 2px solid $pink;
    margin-bottom: $spacer*2;
    padding: 0 1rem;
    text-transform: uppercase;
}