
/**

	Estilos para el modulo ps_shoppingcart

*/

.dt-cart-img{
  width: 75px;
  height: 75px;
}

.dt-price-mini{
  font-size: 0.8rem;
}

.dt-label{
  @extend .dt-blue-text;
  font-weight: $font-weight-bold;
}