

#blockReassurance{

	$block-colors: (
		1: $green-500,
		2: $orange-500,
		3: $red-500
	);

	.block-text{
		padding: $spacer;
		font-size: $font-size-sm;
		border: $border-width $brand-primary solid;
		background-color: $gray-lightest;

		&:nth-child(3){
			margin-right: 0 !important;
		}
	}

	@each $number, $color in $block-colors{
		.block-#{$number}{
			color: #{$color};
			border-color: #{$color};
		}
	}

}