#emailFooterSuscription{
	background-color: $blue-500;

	.dt-email{
		padding: $spacer*2 0;

		form{

			.dt-form-group{
				display: flex;
				flex-direction: row;
				max-width: 80%;
				flex: 1 100%;
				
				input{
					padding: $spacer/2 0.75rem;
					font-size: $font-size-base;
					line-height: $line-height-base;
					color: $gray;
					background-color: $gray-lightest;
					background-clip: padding-box;
					border-right: none;
					border-top: $border-width solid rgba(0,0,0, 0.25);
					border-bottom: $border-width solid rgba(0,0,0, 0.25);
					border-left: $border-width solid rgba(0,0,0, 0.25);
					transition: $input-transition;
					
					&[type="submit"]{
						border-left: none;
						border-right: $border-width solid rgba(0,0,0, 0.25);
						background-color: $pink-500;
						color: $gray-lightest;
						text-transform: uppercase;

						&:hover{
							background-color: $pink-400;
							transition: all 0.3s ease-in-out;
						}
					}
				}

			}

			span{
				color: $grey-50;
				font-size: $font-size-sm;

				&::before{
					content: "*";
					margin-right: $spacer/2;
				}
			}
			
		}

		h5{
			display: inline;
			margin: 0;
			color: $gray-lightest;
		}
	}

	
}