
#dropdownMainMenu{

	.dropdown-toggle::after{
		border: 0;
		display: none;
	}

}

.main-menu{
	width: 71.9rem;
	top: 99%;
	border: 0;
	animation-duration: $animation-duration;
	background-color: $gray-lightest;
	margin: 0;
}
