
#carouselHome{
	width: 100%;
	margin-top: 0;
	padding: $spacer $spacer/2 0 0;

	figure {
		margin: 0;
	}

	.carousel-caption {
		right: 0;
		left: $spacer*2;
		bottom: $spacer*6;
		padding: $spacer;
		width: 40%;
		
		h1{
			text-transform: uppercase;
			font-weight: bold;
		}
		
	}

	.carousel-indicators{
		bottom: 0;
	}
}

.dt-delay-1{
	animation-delay: 0.5s;
}

.dt-delay-2{
	animation-delay: 1s;
}

.dt-delay-3{
	animation-delay: 1.5s;
}