
/*
*	Social Follow
*/

.social-follow{
	ul{
		margin: 0;
		padding: 0;
		display: inline-block;

		li{
			display: inline-block;
			margin-right: 0.2rem;
			margin-bottom: 0.2rem;
			height: 2.5rem;
			width: 2.5rem;
			background-color: $grey-50;
			background-repeat: no-repeat;
			cursor: pointer;

			&:nth-last-child(1){
				margin: 0;
			}

			a {
				display: block;
				height: 100%;
				white-space: nowrap;
				text-indent: 100%;
				overflow: hidden;

				&:hover {
					color: transparent;
				}
			}

		}
	}

	.facebook{
		@include bg-img('../img/f.svg', '../img/f-hover.svg');
	}

	.twitter{
		@include bg-img('../img/t.svg', '../img/t-hover.svg');
	}

	.rss{
		@include bg-img('../img/r.svg', '../img/r-hover.svg');
	}

	.youtube{
		@include bg-img('../img/y.svg', '../img/y-hover.svg');
	}

	.googleplus{
		@include bg-img('../img/g.svg', '../img/g-hover.svg');
	}

	.pinterest{
		@include bg-img('../img/p.svg', '../img/p-hover.svg');
	}

	.vimeo{
		@include bg-img('../img/v.svg', '../img/v-hover.svg');
	}

	.instagram{
		@include bg-img('../img/i.svg', '../img/i-hover.svg');
		
	}
}