.title-menu-mobile {
    display: none;
}

#wt-menu-horizontal {
  background-color: $gray-lightest;
  width: 100%;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: $zindex-fixed;
  background-color: $brand-primary;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li.level-1 {
      display: inline-block;
      margin: 0 -2px;
      transition: all $transition-duration ease-in-out;

      > .dropdown{
        padding: $spacer * 0.8 $spacer;
        cursor: pointer;

        > a{
          color: $gray-lightest;
          text-transform: uppercase;
          font-weight: 600;
          display: inline-block;
          

          &:hover{
              text-decoration: none;
          }
          
        }

        .dropdown-toggle{

          &::after{
            content: none;
          }

          .mdi::before{
            vertical-align: middle;
          }
        }
          
      }

      &:hover{
        background-color: $brand-secondary;
      }
    }
  }

  .dropdown-content{
    min-width: map-get($container-max-widths, lg);
    left: -157px;
    padding: 0;
    margin: 0;
  }
  
  .ul-column .item-line a{
    display: block;
    padding: $spacer * 0.5 $spacer;
    transition: all $transition-duration ease-in-out;
    
    &:hover{
      background-color: $brand-primary;
      color: $gray-lightest;
      text-decoration: none;
    }
  }

  .sub-menu{
    border-left: $border-width * 2 $border-style $brand-primary;
    border-right: $border-width $border-style $gray-lighter;  
  }

  .submenu-promo{
    padding: $spacer;
    
    .ul-column{

      .item-line a{
        display: block;
        padding: 0;
        text-align: center;

        &:hover {
          background-color: transparent;
          text-decoration: none;
        }

        img{
          max-width: 100%;
        }
      }
    }
  }

  .dt-dropdown-item{
    display: block;
    width: 100%;
    clear: both;
    white-space: nowrap;
    padding: $spacer * 0.5 $spacer;
    transition: 0.2s all ease-in-out;

    &:hover{
      background-color: $brand-primary;

      .dt-dropdown-link{
        color: $gray-lightest;
      }
    }

    .dt-dropdown-link{
      padding: $spacer * 0.5;
      text-decoration: none;

      &:hover{
        text-decoration: none;
      }
    }
    
    &:first-of-type{
      margin-top: $spacer * 0.5;
    }

    &:last-of-type{
      margin-bottom: $spacer * 0.5;
    }
  }
}
